body {
    margin: 0;
}

nav {
  position: fixed;
  margin-top: 0;
  background-color: rgb(255, 202, 223);
  width: 100%;
}

ul {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    color: rgb(253, 132, 197);
} 

li {
    margin-left: 30px;
}

li a {
    color: white;
    text-decoration: none;
}


main {
  margin: 2px 2px 2px 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main section{
  width: 400px;
  height: 500px;
  margin: 20px;
}

.container {
  background-color: rgb(255, 222, 235);
  width: 180vh;
  height: 200vh;
  margin: auto;
}

img {
    width: 100%;
    height: 100%;
}

p {
  text-align: center;
  color: rgb(196, 86, 152);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif ;
}

h1{
    text-align: center;
    color:rgb(253, 132, 197) ;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    text-align: center;
    color:rgb(137, 50, 96) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

